/* imports */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* colors */

$btn-color: #22A7F0;
$btn-hover-color: #4183D7;
$textbox-color: #ecf0f1;
$menu-item-bg: #2980b9;

/* mixins */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/* basic reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

body::-webkit-scrollbar {
  display: none;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color:#fff;
}

/* header */

header{
  position: fixed;
  background: $btn-color;
  color:#fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  z-index: 999999;

  ul{
    display: table;
    width: 100%;

    li{
      display: table-cell;
      width: 33.33333333334%;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
      white-space: nowrap;

      a:hover{
        padding: 8px;
        background: $menu-item-bg;
        @include border-radius(5px);
      }
    }
  }
}

@media screen and(max-width: 400px){
  header ul li {
    font-size: 16px;
  }
}

/* getting username */

#contentWrapper{
  position:absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
}

#usernameWrap{
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  margin-top: 20%;
}

#usernameError{
  margin: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: #e74c3c;
}

/* username form */

#updateUsername, #usernameWrap{
  .message{
    height: 50px;
    padding: 5px 20px 5px 20px;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-bottom: 3px solid $textbox-color;
  }

  .message:focus{
    border-bottom: 3px solid $btn-color;
  }

  .button{
    height: 50px;
    padding: 5px 20px 5px 20px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background: $btn-color;
    color:#fff;
    cursor: pointer;
    transition: .5s;
  }

  .button:hover{
    background: $btn-hover-color;
    transition: .5s;
  }
}

@media screen and(max-width: 600px){
  #usernameWrap .message, #updateUsername .message {
    font-size: 16px;
  }
}

/* chat features hidden before entering username */

#chatWrapper{
  display: none;
  height: 100% ;
  width: 100%;
  padding: 70px 0 70px 0;
}

#updateUsername{
  display: none;
}

/* chat room */

#chat-msg{
  overflow: auto;
  padding-bottom: 70px !important;

  #chat{
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;

    li {
      padding: 5px 10px;
      word-wrap: break-word;

      span {
        font-size: 14px;
        color: #cbcbcb;
      }
    }

    li.sent span{
      float: right;
    }
  }
}

input:focus{
  outline: none;
}

#send-message{
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #cbcbcb;

  .message {
    border: none;
    float: left;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
    background: $textbox-color;
    @include border-radius(5px);
  }

  .button{
    border: none;
    width: 9%;
    padding: 10px;
    float: right;
    background: $btn-color;
    color: #fff;
    transition: .5s;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
    @include border-radius(5px);
  }

  .button:hover{
    background: $btn-hover-color;
    transition: .5s;
  }

}
.sent, .received{
  max-width: 80%;
  clear: both;
  padding: 20px;
  margin:10px;
  background: $textbox-color;
}

.sent {
  float:right;
}

.received {
  float: left;
}

/* responsive message input form */

@media screen and(max-width: 800px){
  #send-message .message {
    width: 79%;
  }

  #send-message .button{
    width: 20%;
  }
}

/* photo and settings page */

#photos, #settings{
  position:absolute;
  top: 0;
  left:0;
  width: 100%;
  padding: 80px 30px 0 30px;

  h1{
    text-align: center;
    margin: 30px 0 50px 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
  }
}

/* photo slider page */

#img-slider{
  max-width: 1120px;
  margin: 0 auto;

  img{
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
  }
}

/* settings page */

#accordion{
  max-width: 900px;
  margin: 0 auto;

  a{
    color:#000;
  }
}

/* photo settings slider */

#photoSetting{
  label, #widVal, #higVal{
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  label, #widVal{
    display: inline-block;
  }

  label, #higVal{
    display: inline-block;
  }

  #widVal, #higVal{
    font-weight: 700;
    color: $btn-color;
  }
}

/* chat settings */

#chatSetting{
  #updateStatus{
    margin: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: #e74c3c;
  }
}

/* customizing accordions and sliders */

.panel-default{
  border: none;

  .panel-heading{
    border:none;

    h4{
      text-transform: uppercase;
      font-family: 'montserrat', san-serif;
    }
  }
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  background: $btn-color;
  border: none;
  @include border-radius(50%);
}

.ui-state-default:hover{
  background: $btn-hover-color;
}